<div class="flex flex-col gap-5">
    <header class="flex flex-col gap-4">
        <button type="button" (click)="goBack()"> <fa-icon [icon]="isLanguageEnglish() ? 'arrow-left' : 'arrow-right'"></fa-icon> {{'NEW_CATEGORY.GO_BACK' | translate}}</button>
        <h2 class="text-[16px] font-bold">{{'NEW_CATEGORY.CREATE_NEW_CATEGORY_TITLE' | translate}}</h2>
        <p class="text-[14px]">{{'NEW_CATEGORY.CREATE_NEW_CATEGORY_SUBTITLE' | translate}}</p>
    </header>
    <main>
        <form (submit)="createCategory()">
            <input type="text" [(ngModel)]="category" [placeholder]="'NEW_CATEGORY.CREATE_NEW_CATEGORY_PLACEHOLDER' | translate"/>
            <button type="submit" class="hover:bg-[var(--primary-color)]-700 bg-[var(--primary-color)] p-4">{{'NEW_CATEGORY.SUBMIT' | translate}}</button>
        </form>
    </main>
</div>