<div class="product-item-skeleton rounded-xl p-4 flex flex-col gap-3 seller-products">
    <h2 class="text-[16px]">{{'ADMIN.PRODUCT_NAME' | translate}} : {{product()!.name}}</h2>
    <h2 class="text-[16px]">{{'PRICE' | translate}} : {{product()!.price | currency}}</h2>
    <h2 class="text-[16px]">{{'ADMIN.SOLD' | translate}} : {{product()!.soldItemsNumber}} {{'ADMIN.PIECES' | translate}}</h2>
    <h2 class="text-[16px]">{{'ADMIN.IN_STOCK' | translate}} : {{product()!.stock}} {{'ADMIN.PIECES' | translate}}</h2>
</div>