<main class="grid md:grid-cols-3 gap-5 grid-cols-1 my-10 justify-start grow">
    <section class="search-section flex flex-col gap-10 md:col-span-1 col-span-2">
        <input type="text" name="search" id="search" style="display: block !important;" class="border-1 p-2 rounded-xl" placeholder="{{'SEARCH_PLACEHOLDER' | translate}}" (input)="filterProducts()" [(ngModel)]="searchText">

         <select name="categories" id="categories" class="text-[var(--primary-text-color)] font-bold text-[16px] border-1 p-2 rounded-xl" (change)="filterProducts()" [(ngModel)]="selectedCategory">
          <option value="All" class="text-[var(--primary-text-color)] bg-[var(--main-bg-color)]">{{'ALL' | translate}}</option>
          @for (item of (categories | async); track $index) {
            <option [value]="item" class="text-[var(--primary-text-color)] bg-[var(--main-bg-color)]">{{item}}</option>
          }
          </select>

       <label for="price" class="text-xl text-[var(--primary-text-color)] font-bold">{{'PRICE' | translate}}</label>
       <section class="min-max-section flex gap-3">
         <mat-slider class="w-full!" min="0" max="10000" step="10">
          <input matSliderStartThumb (input)="filterProducts()" id="min" [(ngModel)]="minPrice" (input)="changeMinPrice($event)">
          <input matSliderEndThumb (input)="filterProducts()" id="max" [(ngModel)]="maxPrice" (input)="changeMaxPrice($event)">
         </mat-slider>
       </section>
       <div class="slider-values flex justify-between items-center" aria-label="price-slider-values">
            <label for="min" class="text-[16px]!">{{minPrice}}</label>
            <label for="max" class="text-[16px]!">{{maxPrice}}</label>
       </div>
       <output class="text-xl text-[var(--primary-text-color)] font-bold">{{'STARS_RATING_TEXT' | translate}}</output>
       <input type="range" name="rating" id="rating" min="0" max="5" (change)="filterProducts()" value="0" [(ngModel)]="rating">
       @if (rating() > 0 && rating() < 5) {
        <output class="text-lg text-[var(--primary-text-color)] font-bold">{{rating()}} {{'STARS_RATING_OR_LESS' | translate}}</output>
       }@else if(rating() == 0 || rating() == 5){
        <output class="text-lg text-[var(--primary-text-color)] font-bold">{{'ALL_PRODUCTS' | translate}}</output>
       }
    </section>
    <section class="search-results grid grid-cols-[repeat(md:auto-fill,minmax(260px,1fr))] gap-5 col-span-2">
        @if ((filteredProducts | async) != null) {
          @for (item of (filteredProducts | async); track item.id) {
                <app-product-card [product]="item"></app-product-card>
          }
        }@else{
        <app-loader></app-loader>
        }

       @if(allPages().length == 0){
        <div class="no-products-found flex flex-col mx-auto col-span-3">
          <img src="https://cdn-icons-png.flaticon.com/512/1178/1178428.png" alt="no-products-image" class="w-[90%] max-w-[260px]">
        </div>
        }
      
    </section>

    <section aria-roledescription="see-differenet-products" class="mx-auto col-span-3 flex items-center gap-3 mt-10 flex-wrap w-[100]">
                @if (allPages().length > 0) {
                  <button class="bg-[var(--primary-color)] text-[var(--primary-text-color)] p-3 rounded-lg hover:bg-purple-700" (click)="goPreviousPage()" [disabled]="currentPage() == 1">{{'PREVIOUS' | translate}}</button>
                }
                @for (item of showedPages(); track $index) {
                    <button class="text-[var(--primary-text-color)] p-3 rounded-lg hover:bg-purple-700" (click)="goToPage(item)" [ngClass]="
                      item == currentPage() ? 'bg-purple-700' : 'bg-[var(----primary-color)]'
                    ">{{item}}</button>
                }
                @if (allPages().length > 0) {
                    <button class="bg-[var(--primary-color)] text-[var(--primary-text-color)] p-3 rounded-lg hover:bg-purple-700" (click)="goNextPage()" [disabled]="currentPage() == allPages().length">{{'NEXT' | translate}}</button>
                }
      </section>
    
</main>
