<main class="grid md:grid-cols-3 grid-cols-1 md:px-20 px-10 my-10 justify-start gap-5 max-w-[1500px] mx-auto">
    <section class="search-section flex flex-col gap-10 col-span-1">
        <input type="text" name="search" id="search" style="display: block !important;" class="border-1 p-2 rounded-xl" placeholder="Search" (input)="filterProducts()" value="">
        @if (categories) {
         <select name="categories" id="categories" class="text-[var(--primary-text-color)] font-bold text-[16px] border-1 p-2 rounded-xl" (change)="filterProducts()">
          <option value="All">All</option> 
          @for (item of categories; track $index) {
            <option [value]="item">{{item}}</option>
          }
          </select>
        }
       <label for="price" class="text-xl text-[var(--primary-text-color)] font-bold">Price</label>
       <section class="min-max-section flex gap-3">
         <mat-slider class="w-full!" min="0" max="10000" step="10">
          <input matSliderStartThumb (input)="filterProducts()" id="min">
          <input matSliderEndThumb (input)="filterProducts()" id="max">
         </mat-slider>
       </section>
       <div class="slider-values flex justify-between items-center" aria-label="price-slider-values">
            <label for="min" class="text-[16px]!">{{minPrice}}</label>
            <label for="min" class="text-[16px]!">{{maxPrice}}</label>
       </div>
       <output class="text-xl text-[var(--primary-text-color)] font-bold">Star Rating</output>
       <input type="range" name="rating" id="rating" min="0" max="5" (change)="filterProducts()" value="0">
       @if (rating > 0 && rating < 5) {
        <output class="text-lg text-[var(--primary-text-color)] font-bold">{{rating}} Stars Or Less Products</output>
       }@else if(rating == 0 || rating == 5){
        <output class="text-lg text-[var(--primary-text-color)] font-bold">All Products</output>
       }
    </section>
    <section class="search-results grid grid-cols-[repeat(auto-fit,minmax(260px,1fr))] gap-5 col-span-2" [ngClass]="{
        'grid-cols-[repeat(auto-fill,minmax(260px,1fr))]!': filteredProducts.length > 0,
    }
    ">
      @if (isProductsLoaded()) {
        @if (filteredProducts.length > 0) {
            @for (item of filteredProducts; track $index) {
                <app-product-card [product]="item"></app-product-card>
            }
        }@else {
            <div class="no-products-found flex flex-col mx-auto">
                <img src="https://cdn-icons-png.flaticon.com/512/1178/1178428.png" alt="no-products-image" class="w-[90%] h-[300px]">
            </div>
        }
      }@else{
        <app-loader></app-loader>
      }
    </section>
</main>