  <main class="mt-7 slideFromLeftAnimation" [class]="!isAdmin() ? 'flex flex-col gap-5 w-full' : ''">
    <header>
        <h1 class="text-[20px] font-bold">{{'ORDERS.ORDERS_LIST' | translate}}</h1>
    </header>
    <section class="sort-section flex flex-col gap-5">
      <label for="sort">Sort By</label>
      <select [(ngModel)]="selectedSortingOption" (change)="sortBy()" name="sort" id="sort" class="p-2 ps-0 size-fit rounded-xl focus:outline-[var(--primary-color)] border-0 outline-4 outline-transparent">
        <option value="newest">Newest First</option>
        <option value="oldest">Oldest First</option>
        <option value="price-high">Price: High to low</option>
        <option value="price-low">Price: Low to high</option>
      </select>
    </section>
    <section class="my-2 flex gap-5 size-fit flex-wrap">
        <input type="date"
        placeholder="Start Date"
        (input)="setStartDate($event.target.value)"
         class="block rounded-lg border border-gray-300 bg-[var(--main-bg-color)] px-4 py-2.5 text-sm
         focus:border-[var(--primary-color)] focus:ring-4 focus:ring-[var(--primary-color)]/20
         focus:outline-none transition-colors
         text-[var(--primary-text-color)]
         [&::-webkit-calendar-picker-indicator]:opacity-0
         [&::-webkit-datetime-edit]:px-8">
        <input         
         placeholder="End Date"
         type="date" (input)="setEndDate($event.target.value)" class="block rounded-lg border border-gray-300 bg-[var(--main-bg-color)] px-4 py-2.5 text-sm
         focus:border-[var(--primary-color)] focus:ring-4 focus:ring-[var(--primary-color)]/20
         focus:outline-none transition-colors
         text-[var(--primary-text-color)]
         [&::-webkit-calendar-picker-indicator]:opacity-0
         [&::-webkit-datetime-edit]:px-8">
    </section>
    <section class="mt-1">
        <div class="order-status-categories flex flex-row flex-wrap gap-4 my-4">
            <button class="rounded-xl p-2 border-0 hover:bg-[var(--primary-color)]" [class.bg-[var(--primary-color)]]="selectedStatus() == 'All'" (click)="setStatus('All')">{{'All' | translate}}</button>
            <button class="rounded-xl p-2 border-0 hover:bg-[var(--primary-color)]" [class.bg-[var(--primary-color)]]="selectedStatus() == 'PENDING'" (click)="setStatus('PENDING')">{{'PENDING' | translate}}</button>
            <button class="rounded-xl p-2 border-0 hover:bg-[var(--primary-color)]" [class.bg-[var(--primary-color)]]="selectedStatus() == 'CANCELLED'" (click)="setStatus('CANCELLED')">{{'CANCELLED' | translate}}</button>
            <button class="rounded-xl p-2 border-0 hover:bg-[var(--primary-color)]" [class.bg-[var(--primary-color)]]="selectedStatus() == 'SHIPPED'" (click)="setStatus('SHIPPED')">{{'SHIPPED' | translate}}</button>
            <button class="rounded-xl p-2 border-0 hover:bg-[var(--primary-color)]" [class.bg-[var(--primary-color)]]="selectedStatus() == 'DELIVERED'" (click)="setStatus('DELIVERED')">{{'DELIVERED' | translate}}</button>
        </div>
        @if ((ordersList | async); as orders) {
            @if (orders.length > 0) {
              @for (item of showedOrders(); track item.id) {
                <app-order-item [order]="item" class="slideFromTopAnimation"></app-order-item>
              }
              <section aria-roledescription="see-differenet-orders" class="justify-center col-span-3 flex items-center gap-3 mt-10 flex-wrap w-[100%]">
                @if (allPages().length > 0) {
                  <button class="bg-[var(--primary-color)] text-[var(--primary-text-color)] p-3 rounded-lg hover:bg-purple-700" (click)="previousPage()" [disabled]="currentPage() == 1">{{'PREVIOUS' | translate}}</button>
                }
                 @for (item of showedPages(); track $index) {
                    <button class="text-[var(--primary-text-color)] p-3 rounded-lg hover:bg-purple-700" (click)="goToPage(item)" [ngClass]="
                            item == currentPage() ? 'bg-purple-700' : 'bg-[var(----primary-color)]'
                          ">{{item}}</button>
                    }
                    @if (allPages().length > 0) {
                      <button class="bg-[var(--primary-color)] text-[var(--primary-text-color)] p-3 rounded-lg hover:bg-purple-700" (click)="nextPage()" [disabled]="currentPage() == allPages().length">{{'NEXT' | translate}}</button>
                    }
              </section>
            }@else{
              <img src="https://cdn-icons-png.flaticon.com/512/13466/13466923.png" class="w-[150px] mx-auto my-10 slideFromTopAnimation" alt="no-ordersList"/>
            }
        }@else {
            <app-loader></app-loader>
        }
    </section>
</main>
