  <main class="mt-7 slideFromLeftAnimation" [class]="!isAdmin() ? 'flex flex-col gap-5 w-full' : ''">
    <header>
        <h1 class="text-[20px] font-bold">Orders List</h1>
    </header>
    <section class="my-2 flex gap-5 size-fit flex-wrap">
        <input type="date"
        (input)="setStartDate($event.target.value)"
         class="block rounded-lg border border-gray-300 bg-[var(--main-bg-color)] px-4 py-2.5 text-sm
         focus:border-[var(--primary-color)] focus:ring-4 focus:ring-[var(--primary-color)]/20
         focus:outline-none transition-colors
         text-[var(--primary-text-color)]
         [&::-webkit-calendar-picker-indicator]:opacity-0
         [&::-webkit-datetime-edit]:px-8">
        <input type="date" (input)="setEndDate($event.target.value)" class="block rounded-lg border border-gray-300 bg-[var(--main-bg-color)] px-4 py-2.5 text-sm
         focus:border-[var(--primary-color)] focus:ring-4 focus:ring-[var(--primary-color)]/20
         focus:outline-none transition-colors
         text-[var(--primary-text-color)]
         [&::-webkit-calendar-picker-indicator]:opacity-0
         [&::-webkit-datetime-edit]:px-8">
    </section>
    <section class="mt-1">
        <div class="order-status-categories flex flex-row flex-wrap gap-4 my-4">
            <button class="rounded-xl p-2 border-0 hover:bg-[var(--primary-color)]" [class.bg-[var(--primary-color)]]="selectedStatus() == 'All'" (click)="setStatus('All')">{{'All' | translate}}</button>
            <button class="rounded-xl p-2 border-0 hover:bg-[var(--primary-color)]" [class.bg-[var(--primary-color)]]="selectedStatus() == 'Pending'" (click)="setStatus('Pending')">{{'PENDING' | translate}}</button>
            <button class="rounded-xl p-2 border-0 hover:bg-[var(--primary-color)]" [class.bg-[var(--primary-color)]]="selectedStatus() == 'Cancelled'" (click)="setStatus('Cancelled')">{{'CANCELLED' | translate}}</button>
            <button class="rounded-xl p-2 border-0 hover:bg-[var(--primary-color)]" [class.bg-[var(--primary-color)]]="selectedStatus() == 'Shipped'" (click)="setStatus('Shipped')">{{'SHIPPED' | translate}}</button>
            <button class="rounded-xl p-2 border-0 hover:bg-[var(--primary-color)]" [class.bg-[var(--primary-color)]]="selectedStatus() == 'Delivered'" (click)="setStatus('Delivered')">{{'DELIVERED' | translate}}</button>
        </div>
        @if(isFiltered()){
          @if ((orders | async)!.length > 0) {
            @for (item of (orders | async); track item.id) {
               <app-order-item [order]="item" class="slideFromTopAnimation"></app-order-item>
            }
          }@else{
              <img src="https://cdn-icons-png.flaticon.com/512/13466/13466923.png" class="w-[150px] mx-auto my-10 slideFromTopAnimation" alt="no-orders"/>
          }
        }@else{
            <app-loader></app-loader>
        }
    </section>
</main>
