<main class="flex flex-col gap-10 w-full mt-10">
    <header class="flex flex-col gap-10">
        <button class="rounded-xl size-fit hover:bg-purple-500 bg-[var(--primary-color)] p-4" type="button" (click)="goBack()"> <fa-icon [icon]="icon()"></fa-icon> {{'GO_BACK' | translate}}</button>
        <h2 class="text-[20px] font-bold">{{'NEW_PRODUCT.CREATE_NEW_PRODUCT_TITLE' | translate}}</h2>
        <p class="text-[17px]">{{'NEW_PRODUCT.CREATE_NEW_PRODUCT_SUBTITLE' | translate}}</p>
    </header>
    <form class="flex-grow flex flex-col gap-5 border-1 rounded-xl p-10" [formGroup]="productFormGroup">
        <input id="name"  type="text" class="p-4 rounded-xl border-1" formControlName="name" [placeholder]="'NEW_PRODUCT.CREATE_NEW_PRODUCT_NAME_PLACEHOLDER' | translate" value="{{(product | async)?.name}}"/>
        @if(productFormGroup.get('name')?.hasError('required') && productFormGroup.get('name')?.touched){
            <span class="text-red-500 font-bold mt-2 text-[12px]">{{'AUTH.VALIDATIONS.REQUIRED' | translate: {field: 'NEW_PRODUCT.NAME_FIELD' | translate} }}.</span>
        }
        @if(productFormGroup.get('name')?.hasError('minlength') && productFormGroup.get('name')?.touched){
            <span class="text-red-500 font-bold mt-2 text-[12px]">{{'AUTH.VALIDATIONS.MIN_LENGTH' | translate: {field: 'NEW_PRODUCT.NAME_FIELD'  | translate,length: 2} }}.</span>
        }
        <input id="description"  type="text" class="p-4 rounded-xl border-1" formControlName="description" [placeholder]="'NEW_PRODUCT.CREATE_NEW_PRODUCT_DESCRIPTION_PLACEHOLDER' | translate"/>
        @if(productFormGroup.get('description')?.hasError('required') && productFormGroup.get('description')?.touched){
            <span class="text-red-500 font-bold mt-2 text-[12px]">{{'AUTH.VALIDATIONS.REQUIRED' | translate: {field: 'NEW_PRODUCT.DESCRIPTION_FIELD' | translate} }}.</span>
        }
        @if(productFormGroup.get('description')?.hasError('minlength') && productFormGroup.get('description')?.touched){
            <span class="text-red-500 font-bold mt-2 text-[12px]">{{'AUTH.VALIDATIONS.MIN_LENGTH' | translate: {field: 'NEW_PRODUCT.DESCRIPTION_FIELD'  | translate,length: 50} }}.</span>
        }
        <input id="price" type="number" class="p-4 rounded-xl border-1" formControlName="price" [placeholder]="'NEW_PRODUCT.CREATE_NEW_PRODUCT_PRICE_PLACEHOLDER' | translate"/>
        @if(productFormGroup.get('price')?.hasError('required') && productFormGroup.get('price')?.touched){
            <span class="text-red-500 font-bold mt-2 text-[12px]">{{'AUTH.VALIDATIONS.REQUIRED' | translate: {field: 'NEW_PRODUCT.PRICE_FIELD' | translate} }}.</span>
        }
        @if(productFormGroup.get('price')?.hasError('minlength') && productFormGroup.get('price')?.touched){
            <span class="text-red-500 font-bold mt-2 text-[12px]">{{'AUTH.VALIDATIONS.MIN_LENGTH' | translate: {field: 'NEW_PRODUCT.PRICE_FIELD'  | translate ,length: 2}  }}.</span>
        }
        <input id="stock" type="number" class="p-4 rounded-xl border-1"  formControlName="stock" [placeholder]="'NEW_PRODUCT.CREATE_NEW_PRODUCT_STOCK_PLACEHOLDER' | translate"/>
        @if(productFormGroup.get('stock')?.hasError('required') && productFormGroup.get('stock')?.touched){
            <span class="text-red-500 font-bold mt-2 text-[12px]">{{'AUTH.VALIDATIONS.REQUIRED' | translate: {field: 'NEW_PRODUCT.STOCK_FIELD' | translate} }}.</span>
        }
        @if(productFormGroup.get('stock')?.hasError('minlength') && productFormGroup.get('stock')?.touched){
            <span class="text-red-500 font-bold mt-2 text-[12px]">{{'AUTH.VALIDATIONS.MIN_LENGTH' | translate: {field: 'NEW_PRODUCT.STOCK_FIELD' | translate ,length: 2} }}.</span>
        }
        <button [disabled]="productFormGroup.invalid" type="submit" class="rounded-xl size-fit hover:bg-purple-500 bg-[var(--primary-color)] p-4">{{'NEW_PRODUCT.SUBMIT' | translate}}</button>
    </form>
</main>