<main appAnimateOnScroll class="mt-5 flex flex-col gap-5 slideFromLeftAnimation">
    <section class="flex flex-col gap-10">
        <section aria-describedby="(user | async)-dashbard-number" class="grid grid-cols-[repeat(auto-fit,minmax(300px,1fr))] gap-5 w-full">
            <div class="border-1 rounded-xl p-4 flex flex-col gap-3">
                <div class="skeleton-basic w-[150px] h-[20px]"></div>
                <div class="skeleton-basic w-[150px] h-[20px]"></div>
            </div>
            <div class="border-1 rounded-xl p-4 flex flex-col gap-3">
                <div class="skeleton-basic w-[150px] h-[20px]"></div>
                <div class="skeleton-basic w-[150px] h-[20px]"></div>
            </div>
        </section>
    </section>
</main>