.sidebar-content{
  transform: translateX(280px);
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.sidebar-content.open{
  width:auto;
  transform: translateX(0);
  opacity: 1;
}