@let orderDetails = order | async;
@if (orderDetails) {
    <main class="flex flex-col w-full mt-10" id="order-details">
    <header class="mb-5 mt-0">
        <h2 class="text-[20px] font-bold">{{'ORDERS.ORDER_ITEMS' | translate}} : </h2>
    </header>
    <section class="flex flex-col gap-5 flex-wrap">
    <section class="flex flex-col gap-5 flex-wrap">
        @for (item of orderDetails.items; track $index) {
           <app-order-item-card [orderItem]="item"></app-order-item-card>
        }
    </section>
    
    </section>
        <button (click)="generatePDF(orderDetails!)" class="rounded-xl bg-[var(--primary-color)] border-0 w-fit p-4 mt-5 mx-auto">{{'ORDERS.DOWNLOAD_RECEIPT' | translate}}</button>
    </main>
}
@else{
    <app-loader></app-loader>
}
