<main class="mx-4">
   <form [formGroup]="registerForm" (ngSubmit)="register()" novalidate>
     <div class="flex flex-col gap-5 max-w-[500px] min-w-[280px] mx-auto my-auto mt-20 p-6 pb-4 border border-gray-500 rounded-lg shadow-lg">
     <h1 class="text-2xl font-bold">Sign up to use our product</h1>
     <p class="text-[var(--secondary-text-color)] text-[14px]">Join us to access our service.</p>
     <div class="email-container flex flex-col gap-1">
        <label for="name" class="text-[14px]">Name</label>
        <input class="outline-none border-2 rounded-lg p-2" type="text" name="name" id="text" formControlName="name" placeholder="Enter your name" [ngClass]="{
            'border-[var(--error-text-color)]': registerForm.get('name')?.invalid && registerForm.get('name')?.touched,
            'border-gray-300': registerForm.get('name')?.valid || !registerForm.get('name')?.touched,
            'focus:border-[var(--primary-color)]': (registerForm.get('name')?.valid && registerForm.get('name')?.touched),
            'focus:border-[var(--error-text-color)]': !(registerForm.get('name')?.invalid && registerForm.get('name')?.touched),
        }"/>
        @if (registerForm.get('name')?.hasError('required') && registerForm.get('name')?.touched) {
            <span class="text-[var(--error-text-color)] font-bold mt-2 text-[12px]">Name is Required.</span>
        }
        @if (registerForm.get('name')?.hasError('minlength') && registerForm.get('name')?.touched) {
            <span class="text-[var(--error-text-color)] font-bold mt-2 text-[12px]">Name should be at least 3 Characters.</span>
        }
     </div>
     <div class="email-container flex flex-col gap-1">
        <label for="email" class="text-[14px]">Email</label>
        <input class="outline-none focus:border-[var(--primary-color)] border-2 rounded-lg p-2" type="email" name="email" id="email" formControlName="email" placeholder="Enter your email" [ngClass]="{
            'border-[var(--error-text-color)]': registerForm.get('email')?.invalid && registerForm.get('email')?.touched,
            'border-gray-300': registerForm.get('email')?.valid || !registerForm.get('email')?.touched,
            'focus:border-[var(--primary-color)]': (registerForm.get('email')?.valid && registerForm.get('email')?.touched),
            'focus:border-[var(--error-text-color)]': !(registerForm.get('email')?.invalid && registerForm.get('email')?.touched),
        }"/>
        @if (registerForm.get('email')?.hasError('required') && registerForm.get('email')?.touched) {
            <span class="text-[var(--error-text-color)] font-bold mt-2 text-[12px]">Email is Required.</span>
        }
        @if (registerForm.get('email')?.hasError('email') && registerForm.get('email')?.touched) {
            <span class="text-[var(--error-text-color)] font-bold mt-2 text-[12px]">Please enter a valid email.</span>
        }
     </div>
     <div class="password-container flex flex-col gap-1 relative">
        <label for="password" class="text-[14px]">Password</label>
        <input class="outline-none focus:border-[var(--primary-color)] border-2 border-gray-300 rounded-lg p-2" [type]="isPasswordVisible ? 'text' : 'password'" formControlName="password" name="password" id="password" placeholder="Enter your password" [ngClass]="{
            'border-[var(--error-text-color)]': registerForm.get('password')?.invalid && registerForm.get('password')?.touched,
            'border-gray-300': registerForm.get('password')?.valid || !registerForm.get('password')?.touched,
             'focus:border-[var(--primary-color)]': (registerForm.get('password')?.valid && registerForm.get('password')?.touched),
            'focus:border-[var(--error-text-color)]': !(registerForm.get('password')?.invalid && registerForm.get('password')?.touched),
        }"/>
        <button class="paassword-icon absolute top-[38px] right-3 cursor-pointer" (click)="togglePasswordVisibility()">
            <fa-icon [icon]="passwordIcon" />
        </button>
        @if (registerForm.get('password')?.invalid && registerForm.get('password')?.touched) {
            @if (registerForm.get('password')?.hasError('required') && registerForm.get('password')?.touched) {
              <span class="text-[var(--error-text-color)] font-bold mt-2 text-[12px]">Password is required.</span>
            }
            @if (registerForm.get('password')?.hasError('minlength') && registerForm.get('password')?.touched) {
              <span class="text-[var(--error-text-color)] font-bold mt-2 text-[12px]">Password should be at least 6 Characters.</span>
            }
        }
     </div>
     <div class="password-container flex flex-col gap-1 relative">
        <label for="confrim-password" class="text-[14px]">Confirm Password</label>
        <input class="outline-none focus:border-[var(--primary-color)] border-2 border-gray-300 rounded-lg p-2" [type]="isPasswordVisible ? 'text' : 'password'" formControlName="confirmPassword" name="confrim-password" id="confrim-password" placeholder="Confirm your password" [ngClass]="{
            'border-[var(--error-text-color)]': registerForm.get('confirmPassword')?.invalid && registerForm.get('confirmPassword')?.touched,
            'border-gray-300': registerForm.get('confirmPassword')?.valid || !registerForm.get('confirmPassword')?.touched,
            'focus:border-[var(--primary-color)]': (registerForm.get('confirmPassword')?.valid && registerForm.get('confirmPassword')?.touched),
            'focus:border-[var(--error-text-color)]': !(registerForm.get('confirmPassword')?.invalid && registerForm.get('confirmPassword')?.touched),
        }"/>
        @if (registerForm.get('confirmPassword')?.touched  && registerForm.get('confirmPassword')?.invalid) {
            @if (registerForm.get('confirmPassword')?.hasError('required')) {
              <span class="text-[var(--error-text-color)] font-bold mt-2 text-[12px]">Confirmed Password is required.</span>
            }
            @if (registerForm.get('confirmPassword')?.hasError('mismatch')) {
              <span class="text-[var(--error-text-color)] font-bold mt-2 text-[12px]">Passwords do not match.</span>
            }
        }
     </div>
     <input value="Sign Up" type="submit" class="rounded-lg p-2 text-white bg-[var(--primary-color)] hover:opacity-90"/>
     <a routerLink="/login" class="mx-auto text-[14px]"><span class="text-[var(--secondary-text-color)]">Already have an account? </span> <span class="text-[var(--primary-color)]"> Sign In</span></a>
     </div>
    </form>
</main>