<main class="my-12">
  <header class="flex flex-col animate-fade-in-up my-6" appAnimateOnScroll [once]="false">
    <div class="flex items-center gap-3 mb-2">
      <div
        class="w-12 h-12 rounded-xl bg-gradient-to-br from-purple-500 to-indigo-500 flex items-center justify-center shadow-lg shadow-purple-500/30">
        <fa-icon [icon]="usersIcon" class="text-white text-xl"></fa-icon>
      </div>
      <h2
        class="text-2xl md:text-4xl font-bold bg-gradient-to-r from-purple-600 to-indigo-600 bg-clip-text text-transparent">
        {{'ADMIN.USERS' | translate}}
      </h2>
    </div>
    <div class="w-24 h-1 bg-gradient-to-r from-purple-500 to-indigo-500 rounded-full ms-15"></div>
  </header>
  <section class="users-section flex flex-col gap-5 w-full">
    @if (isLoaded()) {
    @for (item of showedUsers(); track item.uid) {
    <section appAnimateOnScroll [once]="false"
      class="user-section flex flex-col gap-5 border rounded-xl p-4 slideFromLeftAnimation">
      <h2 class="text-[14px] font-bold">{{'AUTH.LABELS.USERNAME' | translate}} : {{item.name ?? '-'}}</h2>
      <p class="text-[12px] font-bold">{{'AUTH.LABELS.ROLE' | translate}} : {{item.role}}</p>
      <p class="text-[12px] font-bold">{{'AUTH.LABELS.EMAIL' | translate}} : {{item.email}}</p>
      @if (item.role != 'admin') {
      <button type="button" (click)="makeUserAdmin(item.uid)"
        class="size-fit bg-[var(--primary-color)] p-2 rounded-xl hover:bg-purple-500">{{'SHOW_USERS.MAKE_ADMIN' |
        translate}}</button>
      }@else {
      <p class="text-[12px] font-bold">{{'AUTH.ROLES.ADMIN' | translate}}</p>
      }
    </section>
    }
    }@else {
    @for (item of [1,2,3]; track $index) {
    <section appAnimateOnScroll [once]="false"
      class="user-section flex flex-col gap-5 border rounded-xl p-4 slideFromLeftAnimation">
      <div class="skeleton-basic h-[20px] w-[150px]"></div>
      <div class="skeleton-basic h-[20px] w-[100px]"></div>
      <div class="skeleton-basic h-[20px] w-[200px]"></div>
      <div class="skeleton-basic h-[30px] w-[120px]"></div>
    </section>
    }
    }
  </section>
  <app-pagination-container></app-pagination-container>
</main>