<main class="my-10 slideFromLeftAnimation">
<h3 class="headline-text text-[var(--primary-text-color)] line-clamp-2 text-4xl font-bold md:w-2/5 w-full animate-[slideFromHorizon]">Cutting‑edge tech for every future.</h3>
<p class="text-[var(--secondary-text-color)] text-[16px] w-2/4 mt-5 animate-[slideFromHorizon]">Discover laptops, phones, audio, and gaming gear hand‑picked for performance and design. Premium support, fast shipping.</p>
@if (products | async) {
  <div class="products mt-5 grid grid-cols-[repeat(auto-fit,minmax(250px,1fr))] gap-5 justify-between items-start">
  @for (item of products | async; track $index) {
  <app-product-card [product]="item"></app-product-card>
  }
</div>
}@else {
  <app-loader></app-loader>
}
</main>