<main>
    @if (isProductsLoaded()) {
        @if(showedProducts()!.length > 0){
          <section class="grid gap-4 all-products md:grid-cols-2">
            @for (item of showedProducts(); track item.id;) {
              <app-dashboard-product class="slideFromLeftAnimation border-1 rounded-xl" appAnimateOnScroll [once]="false" [product]="item"></app-dashboard-product>
            }
          </section>
          <app-pagination-container></app-pagination-container>
        }@else {
            <div class="empty-products mx-auto flex flex-col gap-5 w-full justify-center items-center my-15">
               <img class="w-[200px] h-[200px]" src="https://www.svgrepo.com/show/17356/empty-cart.svg" alt="no products added yet" >
               <p class="text-[16px] font-bold text-center">{{'ADMIN.NO_PRODUCTS' | translate}}</p>
            </div>
        }
    }@else {
     <app-dashboard-products-skeleton></app-dashboard-products-skeleton>
    }
</main>