@let products = (sellerProducts | async);
<section class="grid gap-4 grid-cols-1">
    @if (products) {
        @for (item of products; track item.id;) {
          <div appAnimateOnScroll class="flex border-1 rounded-xl p-4 flex-row flex-wrap flex-grow justify-between slideFromLeftAnimation">
           <div class="flex flex-col gap-3 seller-products">
               <app-dashboard-product [product]="item"></app-dashboard-product>
           </div>
           <section class="actions-row flex flex-row gap-4 flex-wrap">
               <button type="button" class="size-fit bg-[var(--primary-color)] hover:bg-purple-500 p-4 rounded-xl self-center" [routerLink]="['/update-product/',item.id]">{{'SIDEBAR.UPDATE_PRODUCT' | translate}}</button>
               <button type="button" class="size-fit bg-red-500 hover:bg-red-700 p-4 rounded-xl self-center" (click)="deleteProduct(item.id!)">{{'SIDEBAR.DELETE_PRODUCT' | translate}}</button>
           </section>
         </div>
       }
    }@else{
        @for (item of [1,2,3]; track $index) {
         <div class="flex border-1 rounded-xl p-4 flex-row flex-wrap flex-grow justify-between">
           <div class="flex flex-col gap-3 seller-products">
               <div class="skeleton-basic w-[250px] h-[20px]"></div>
               <div class="skeleton-basic w-[100px] h-[20px]"></div>
               <div class="skeleton-basic w-[150px] h-[20px]"></div>
               <div class="skeleton-basic w-[120px] h-[20px]"></div>
           </div>
           <section class="actions-row flex flex-row gap-4 flex-wrap">
               <div class="skeleton-basic w-[120px] h-[40px]"></div>
               <div class="skeleton-basic w-[120px] h-[40px]"></div>
           </section>
         </div>
        }
    }
</section>