@if(user | async){
<main class="mt-5 flex flex-col gap-5">
    <header class="flex flex-row gap-5">
        @if (showSidebar()){
            <app-sidebar></app-sidebar>
        }
        <h1 class="text-[20px] font-bold">{{'DASHBOARD' | translate}}</h1>
    </header>
    <section class="flex flex-col gap-10">
        <section aria-describedby="(user | async)-dashbard-number" class="grid grid-cols-[repeat(auto-fit,minmax(300px,1fr))] gap-5 w-full">
            <section class="border-1 rounded-xl p-4 flex flex-col gap-3">
                <h2 class="text-[16px] font-bold">{{'ADMIN.REVENUE' | translate}}</h2>
                <p class="text-[16px]">{{(user | async)?.totalRevenue | currency}} </p>
            </section>
            <section class="border-1 rounded-xl p-4 flex flex-col gap-3">
                <h2 class="text-[16px] font-bold">{{'ADMIN.SOLD_ITEMS' | translate}}</h2>
                <p class="text-[16px]">{{(user | async)?.totalProductsSold}}</p>
            </section>
        </section>
        <section aria-describedby="(user | async)-dashboard-sold-items" class="grid grid-cols-1 gap-5 w-full">
            <header>
                <h3 class="text-[20px] font-bold">{{'ADMIN.STOCK_ITEMS' | translate}}</h3>
            </header>
            <main>
                <section>
                    @if(!(sellerProducts | async)){
                        <app-loader></app-loader>
                    }@else{
                      <section class="grid gap-4 grid-cols-1">
                          @for (item of (sellerProducts | async); track item.id;) {
                             <div class="border-1 rounded-xl p-4 flex flex-col gap-3 seller-products">
                                <h2 class="text-[16px]">{{'ADMIN.PRODUCT_NAME' | translate}} : {{item.name}}</h2>
                                <h2 class="text-[16px]">{{'PRICE' | translate}} : {{item.price | currency}}</h2>
                                <h2 class="text-[16px]">{{'ADMIN.SOLD_ITEMS' | translate}} : {{item.soldItemsNumber}} {{'ADMIN.PIECES' | translate}}</h2>
                                <h2 class="text-[16px]">{{'ADMIN.IN_STOCK' | translate}} : {{item.stock}} {{'ADMIN.PIECES' | translate}}</h2>
                             </div>
                          }
                      </section>
                    }
                </section>
            </main>
        </section>
    </section>
</main>
}@else {
    <app-loader></app-loader>
}