@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  font: var(--mat-sys-body-medium);
}

@import "tailwindcss";

:root{
    --primary-color: rgb(137, 90, 246); 
    --button-hover-color: #1FD5F9;
    --navbar-text-selected-color: rgb(116, 61, 245);
}
.light-theme{
    --main-bg-color: #ffffff;
    --primary-text-color: #1F283D;
    --secondary-text-color: rgb(107, 114, 128);
    --error-text-color: #DC2626;
}
.dark-theme{
    --main-bg-color: #1F283D;
    --primary-text-color: #FFFFFF;
    --secondary-text-color: rgb(156, 163, 175);
    --error-text-color: #F87171;
}

input[type="search"],
input[type="email"]{
    background-color: var(--main-bg-color);
    color: var(--primary-text-color);
    transition: all 0.3s ease;
}

input[type="button"]{
    background-color: var(--primary-color);
    color: var(--main-text-color);
    transition: all 0.3s ease;
}

input::placeholder,
::-webkit-input-placeholder {
    color: var(--secondary-text-color);
    transition: all 0.3s ease;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-dialog-surface {
  background-color: rgba(255, 255, 255, 0) !important;
  border-radius: 0 !important;
}

label{
    color: var(--primary-text-color);
    transition: all 0.3s ease;
}

@keyframes slideFromHorizon {
    0%{
        opacity: 0;
        transform: translateX(-20px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px)ยง;
    }
}

button{
  cursor: pointer;
}

button:disabled{
  background-color: grey;
  opacity: 0.6;
}

.slideFromTopAnimation{
  animation: slideFromTop 0.3s ease;  
}

@keyframes slideFromTop {
    0%{
        opacity: 0;
        transform: translateY(-20px) rotate(5deg);
    }

     100%{
        opacity: 1;
        transform: translateY(0) rotate(0deg);
    }
}
.slideFromLeftAnimation{
  animation: slideFromLeft 0.3s ease;  
}

@keyframes slideFromLeft {
    0%{
        opacity: 0;
        transform: translateX(-20px);
    }

     100%{
        opacity: 1;
        transform: translateX(0);
    }
}
